* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Ekibastuz-Light;
  src: url(../fonts/Ekibastuz-Light.woff); }

@font-face {
  font-family: Ekibastuz-Regular;
  src: url(../fonts/Ekibastuz-Regular.woff); }

@font-face {
  font-family: Ekibastuz-Bold;
  src: url(../fonts/Ekibastuz-Bold.woff); }

@font-face {
  font-family: Ekibastuz-Heavy;
  src: url(../fonts/Ekibastuz-Heavy.woff); }

@font-face {
  font-family: Ekibastuz-Black;
  src: url(../fonts/Ekibastuz-Black.woff); }

@font-face {
  font-family: Ekibastuz-ExtraBlack;
  src: url(../fonts/Ekibastuz-ExtraBlack.woff); }

@font-face {
  font-family: Gilroylight;
  src: url(../fonts/Gilroylight.woff); }

@font-face {
  font-family: Gilroyextrabold;
  src: url(../fonts/Gilroyextrabold.woff); }

.title {
  font-family: Ekibastuz-ExtraBlack;
  font-weight: 900; }
