@media(min-width:576px) {}

@media(min-width:768px) {
    // body {
    //     overflow: inherit;
    // }
}

@media(min-width:768px){
    *{
        font-size: 18px;
    }
    .title{
        &_big{
            font-family: Ekibastuz-ExtraBlack;
            font-size: 4vh;
            &_narrow{
                font-family: Ekibastuz-Bold;
            }
        }
        &_medium{
            font-size: 4vh;
            font-family: Ekibastuz-Bold;
        }
    }
    .subtitle{
        font-family: Ekibastuz-Bold;
        &_big{
            font-size: 5vh;
            &_narrow{
                font-family: Ekibastuz-Regular;
            }
        }
        &_medium{
            font-size: 3vh;
        }
    }
}

@media(min-width:992px){
    html,
    body{
        height: 100%;
    }
}

@media(min-width:1200px){
    .container-ico{
        flex-direction: row;
        &__mr{
            margin-right: 20px;
        }
    }
    .h-adaptation{
        position: absolute;
    }
    .home-inner,
    .last-step{
        height: 100%;
        width: 100%;
        .header{
            top: 0;
        }
        .home__main{
            left: 50%;
            top: 6vh;
            height: 80%;
            transform: translateX(-50%);
            &__footer{
                bottom: 0;
            }
        }
    }
    .img-home{
        width: 80vh;
    }

    .btn-group {
        max-width: 650px;
        width: fit-content;
        /* margin-bottom: 55px; */
    }
    .step{
        top: 20vh;
        position: absolute;
        left: 50%;
        height: 80%;
        transform: translateX(-50%);
    }
    .btn-outline-primary {
        border: transparent !important;
        border-radius: 6px !important;
        background: #F6F6F6 !important;
        font-family: Ekibastuz-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5vh;
        line-height: 120%;
        color: #000000;
        width: 300px;
        padding: 2vh 0 2vh 1.5vh;
        text-align: start !important;
        margin-right: 20px;
        &:hover,
        &:focus {
            color: #fff;
            background: #2E7DAF !important;
            border: transparent !important;
        }
    }
    .quiz-bottim__block{
        position: absolute;
        bottom: 25px;
        left: 0;
    }
    .img-ico{
        width: 8vh;
    }
    .personal-data {
        padding: 12vh 40px;
        background: #0065B1;
        border-radius: 16px;
        max-width: 500px;
    }
    
    .personal-data__atribut {
        font-family: Ekibastuz-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 3vh;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 8vh;
    }
    
    .field {
        font-family: Ekibastuz-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        box-sizing: border-box;
        border-radius: 6px;
        color: #878787;
        outline: none;
        margin: 0px;
        width: 100%;
        padding: 25px 0 25px 30px;
        &:hover {
            border: 0;
            border: 1px solid #E2E2E2;
        }
        &:focus {
            box-shadow: none !important;
            border: 1px solid #E2E2E2;
            outline: none;
        }
    }
    
    .send {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #0065B1;
        background: #FFFFFF !important;
        border: 1px solid #FFFFFF !important;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 20px 0;
        width: 215px;
        transition: 0.3s;
        outline: none !important;
        &:hover,
        &:focus {
            outline: none !important;
            transition: 0.3s;
            color: #ffffff;
            background-color: #357eb6 !important;
            border: 1px solid #1f537a !important;
        }
    }
    .last-step{
        &_mt{
            top: 10vh !important;
        }
        &__subtitle{
            margin-top: 4vh;
            margin-bottom: 13vh;
        }
    }
}

@media(min-width:1400px){
    .container{
        max-width: 1560px
    }
}
